.container{
    border: 2px solid white;
    margin: 20px 20px;
    height: 600px;
    display: flex;
    justify-content: center;
}
.banner{
    margin-top: 200px;
}
.clock{
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px;
    border: 2px solid;
    padding: 5px 0;
}